.git
.gitignore
node_modules
.photofind-data
*.sqlite
*.sqlite-shm
*.sqlite-wal
cache
exports
inbox
photos
release
out
out-server
webapp-dist
src/renderer/webapp-dist
dist
*.log
*.zip
*.jpg
*.jpeg
*.png
*.heic
*.mp4
*.mov
